<!DOCTYPE html>
<html>

  <head>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>건강보험료 예측 서비스</title>
  </head>
  <body>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <strong>건강보험료 예측 서비스</strong>
        </a>
      </div>
    </div>
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">건강보험료 예측 서비스</h1>
          <br>
          <p class="lead text-muted">
          건강보험료 예측 서비스 메인 페이지에 온 것을 환영합니다<br>
          본 서비스는 사보험의 연간 건강보험료를 예측해주는 서비스입니다.
          </p>
          <br>
          <br>
          <ul style="list-style-type: none;">
            <li>
              현재 URL 주소 뒤에 '/나이/성별(male, female)/bmi수치/자녀수/흡연여부(yes,no)' 
              를 입력하여 연간 예상 건강보험료를 조회할 수 있습니다.<br>
              예) https://pj3.herokuapp.com/26/male/19.5/0/no
            </li>
            <br>
            <li>
              bmi 수치를 모르시겠다고요? 걱정하지마세요 /bmi/키/몸무게 를 입력하시면 당신의 bmi수치를 출력해 드립니다.<br>
              예) https://pj3.herokuapp.com/bmi/170/68<br>
              <br>
              데이터 분석 대시보드 URL : https://datastudio.google.com/s/ptjPIn2odZ0
            </li>
          </ul>
        </div>
      </div>
    </section>
  </body>
</html>

